
<ion-modal-view>
  <ion-slide-box style="height:100%">
      <ion-slide>
        <div class="box blue"><h1>BLUE</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow"><h1>YELLOW</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box pink">
          <h1>PINK</h1>
          <button ng-click="goIn()" class="welcome-button">
              <span>跳过 </span><span style="color: #1615e7;">{{c}}</span>
          </button>
        </div>
      </ion-slide>
    </ion-slide-box>
</ion-modal-view>


